{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container px-4 px-lg-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item "><a class="nav-link {% if request.path == "/" %}active{% endif %} " aria-current="page" href="{% url 'Home:index' %}">Inicio</a></li>
                <li class="nav-item "><a class="nav-link {% if request.path == "/about/" %}active{% endif %}" href="{% url 'Home:about' %}" target="_blank">About me</a></li>

                {% if request.user.is_authenticated %}

                    <li><a class="nav-link {% if request.path == "/Productos/" or request.path == "/Productos/list/" or request.path == "/Productos/create/" or request.path == "/Productos/update/4" or request.path == "/Productos/delete/4" or request.path == "/Productos/detail/4" %} active {% endif %}" href="{% url 'Productos:index' %}">Administracion</a></li>

                {% endif %}

            </ul>


            <ul class="navbar-nav d-flex">
                {% if request.user.is_authenticated %}
                    {% if user.vendedor.avatar.url %}
                        <li class="nav-item"><img src="{{user.vendedor.avatar.url}}" alt="" style="height: 50px;" ></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link active">{{ user.username }}</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == "/register/" %}active{% endif %}" " href="{% url 'Home:register' %}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'Home:logout' %}">logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link " href="{% url 'Home:login' %}">Login</a></li>
                {% endif %}
            </ul>



        </div>
    </div>
</nav>