{% extends 'Home/base.html' %}

{% block content %}

    <div class="container text-center mt-5">
        
        {% for categoria in categorias  %}
            <ul class="card">
                <p>{{ categoria.nombre }}</p>
                <a href="{% url 'Productos:categoria_delete' categoria.id %}" class="btn btn-danger">Eliminar</a>
            </ul>
        {% endfor %}

        {% url 'Productos:categoria_create' as url %}
        {% include 'Home/back.html' with link=url %}

    </div>

{% endblock  %}